@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */
/* removing link and lists decorations */
a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: rgb(136, 132, 132); /* Or any other specific color, e.g., #000000 */
}
ul {
  list-style-type: none;
}
body{
  display:flex;
  flex-direction:column;
  gap:10px
}
.content{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:auto;
  margin-top:150px;
  justify-content:center;
  gap:10px;
}
.header,
.footer{
  display:flex;
}
.footer{
  margin-top:auto;
  background-color:rgba(249, 244, 244, 0.486);
}

.left-links{
  display:flex;
  margin-right:auto;
  max-width:fit-content;
  gap: 15px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 25px;

}
.right-links{
  display:flex;
  margin-left:auto;
  max-width:fit-content;
  gap:15px;
  padding:5px;
  margin-right: 10px;
  margin-bottom: 25px;
}
button{
  border-radius:10%;
  border:50px;
  padding:9px;
}