/* Add CSS Styling */
.odd{
   background-color : pink;
   font-family : "Verdana","DejaVu Sans",sans-serif ;
   #third{
   font-size :24px;

   }

}
#second{
    color :blue;
    font-size : 36px;
}
#fourth{
    background-color :lightgreen;
    font-weight :bold;
    font-size :24px
}