.header  {
  display:flex;
  font-family: monospace;
  background: papayawhip;
  height:75px;
  width:auto;
  align-items:center;
  justify-content:center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin:auto;
  font-family:'Courier New', Courier, monospace;
}

ul {
  display:flex;
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap:10px;
  padding:5px;
  font-family:'Times New Roman', Times, serif;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}