div{
    background-color : red;
    color : white;
    font-family : 'Times New Roman', Times, serif;
    text-align :center;
    font-size : 32px;
    font-weight :bold;
}
p{
  background-color :green;
  color :white;
  text-align :left;
  font-size : 18px;  
}
button{
    background-color: orange;
    font-size : 18px;
}